{% extends "base.html" %}
{% block title %}Investor Dashboard{% endblock %}
{% block content %}

<div>
    <h2>Welcome back, {{ username }}.</h2>
    <p>This dashboard helps track your portfolio of investments with {{ company_name }}.</p>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <h4>Investments Over Time (Past Year)</h4>
        <img src="/static/sinewave-graph.png" class="img-fluid" alt="{{ company_name }} Returns Graph">
    </div>
    <div class="col-md-6">
        <h4>Domain Breakdown</h4>
        <img src="/static/sinewave-chart.png" class="img-fluid" alt="{{ company_name }} Pie Chart">
    </div>
</div>

{% endblock %}